#version=RHEL9
text
reboot
cdrom


# Localization and Time
lang en_US.UTF-8
keyboard us
timezone Asia/Jerusalem --utc
timesource --ntp-pool=2.pool.ntp.org

# BUILD NETWORK (Will be removed in the %post section)
network --bootproto=static --device=eth0 --ip=192.168.100.250 --netmask=255.255.255.0 --gateway=192.168.100.1 --nameserver=8.8.8.8 --activate
network --hostname=golden-image-build

# Security (Lab environment settings)
firewall --disabled
selinux --disabled
rootpw --plaintext --allow-ssh HitachiAmazing2025

# System user for Ansible/Terraform management
user --name=sysadmin --groups=wheel --plaintext --password=HitachiAmazing2025

# Disk Partitioning (Automatically occupies the 40GB allocated by Packer)
zerombr
clearpart --all --initlabel
autopart --type=lvm

# Minimal package set
%packages
@core
hyperv-daemons
cloud-init
tar
bzip2
%end

# Post-installation scripts (Cleanup)
%post --log=/var/log/ks-post.log
# Allow sysadmin to execute sudo without a password
echo "%wheel ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/wheel-nopasswd
chmod 0440 /etc/sudoers.d/wheel-nopasswd

mkdir -p /etc/cloud/cloud.cfg.d
echo "network: {config: disabled}" > /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg  

echo "ssh_pwauth: true" > /etc/cloud/cloud.cfg.d/99-packer-ssh.cfg
mkdir -p /etc/ssh/sshd_config.d
echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/99-packer-ssh.conf
%end