%{ for role in distinct([for s in servers : s.role]) ~}
[${role}]
%{ for s in servers ~}
%{ if s.role == role ~}
${s.server_name} ansible_host=${s.ip_address} ansible_user=sysadmin
%{ endif ~}
%{ endfor ~}

%{ endfor ~}
[all:vars]
ansible_connection=ssh
ansible_ssh_private_key_file=~/.ssh/id_ed25519
ansible_python_interpreter=auto_silent

